header.header-commands{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	.head{
		flex: 0 0 25%;
		background-color: #fff;
		box-shadow: 2px 2px 5px rgba(#000, .4);
		border: none;
	}
}
